<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Table</title>
        {% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'project/style.css' %}">
    </head>
	<body>
    {% if is_user %}
    <button type="button" onclick="self.location='logout'">Logout</button>
    {% endif %}
    <div>
        {% if image_file %}
        <img src="{% static image_file  %}" height="20%" onclick="self.location='edit_image?username={{ user_test }}&image_file={{ image_file }}'">
        {% endif %}
        <h1>{{ user_test }}</h1>
        <div id="gender">
			{% if gender == "male" %}
			<img src="{% static 'project/male.png' %}" width="20px">
			{% else %}
			<img src="{% static 'project/female.png' %}" width="20px">
			{% endif %}
		</div>
    </div>
    <table class="responstable">
            <tr>
                <th>測量日期</th>
                <th>系級</th>
                <th>年齡</th>
                <th>身高</th>
                <th>體重</th>
                <th>飲食狀況</th>
                <th>一週平均<br>運動時數</th>
                <th>近一週平均<br>睡眠時數</th>
                <th>心情</th>
                <th>結果</th>
            </tr>
	        {%   for attr in table %}
                <tr>
                <td>{{ attr.datetime }}</td>
                {% if attr.grade == "undergraduate" %}
					<td>大學</td>
				{% elif attr.grade == "graduate" %}
					<td>研究所</td>
				{% elif attr.grade == "teacher" %}
					<td>老師</td>
				{% else %}
					<td>員工</td>
				{% endif %}
				<td>{{ attr.age }}</td>
                <td>{{ attr.height }} cm</td>
                <td>{{ attr.weight }} kg</td>
                {% if attr.stomach == "full" %}
					<td>飽腹</td>
				{% else %}
					<td>空腹</td>
				{% endif %}
                <td>{{ attr.avg_ex_hour }} hr</td>
                <td>{{ attr.avg_sleep_hour }} hr</td>
                <td>{{ attr.mood }}</td>
                <td><a href="download?file={{ attr.txt }}">{{ attr.datetime }}</a></td>
                </tr>
            {% endfor %}
    </table>

	</body>
</html>
